<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Fundoo{% block title %}{% endblock title%}</title>
</head>
<body>
<a href="{% url 'auth:signin' %}">login</a>
<a href="{% url 'auth:signup' %}">register</a>
{% block message %}
<div>
    {% for message in messages %}
        <span style="color: red">{{message}}</span>
        {% for name, msg in message.items %}

          <span>{{name}}</span>
            {% for item in msg %}
              <ul><li>{{item}}</li></ul>
            {% endfor %}
        {% endfor %}
    {% endfor %}
</div>
{% endblock message %}
{% block body %}{% endblock body %}
</body>
</html>
